<!DOCTYPE html>
<html>
<head>
  <title>Bottomofthe</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<nav>
  <select id="player-1" class="chosen">
    <% PlayerId.all.each do |player| %>
      <option value="<%= player.id %>">
        <%= "#{player.last}, #{player.first}" %>
      </option>
    <% end %>
  </select>
</nav>

<div id="cal-primary"></div>

</body>
</html>
